* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black; 
}

header {
    background-color: #C4C4C4;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.titulo {
    margin-left: 131px;
}

.menu {
    margin-right: 131px;
}

.lista {
    float: right;
    list-style: none;
    padding: 8px;
    margin-right: 32px;
    font-size: 20px;
    font-weight: bold;
}

.lista:hover {
    background-color: darkgrey;
    border-radius: 5px;
}

.bloco1 {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;

}

.imagem {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.descricao {
    margin-left: 125px;
    margin-top: 60px;
}


.subtitulo {
    margin-bottom: 10px;
}

.bloco2 {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 50px;
}

.container_hobbies {
    text-align: right;
}

.titulo_hobbies {
    margin-bottom: 25px;
}

.hobbies_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}

.container_top {
    text-align: left;
}

.titulo_top {
    margin-bottom: 25px;
}

.top_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}

.listaH {
    list-style: none;
    background-color: #DFDFDF;
    box-shadow: 5px 5px 5px black;
    padding: 5px;
    width: 110px;
    height: 170px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.listaT {
    list-style: none;
    background-color: #DFDFDF;
    box-shadow: 5px 5px 5px black;
    padding: 5px;
    width: 110px;
    height: 170px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer {
    background-color: #C4C4C4;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 15px;  
}

.links_icones {
    margin-left: 100px;
}

.icones {
    margin-right: 10px;
}

.contato {
    margin-right: 100px;
    background-color: #DFDFDF;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;

}

.contato:hover {
    background-color: #FFFFEE;
}

@media only screen and (max-width: 1500px) {
    

    .bloco2 {
        padding: 15px;
        gap: 40px;
    }

    .container_hobbies {
        text-align: left;
        gap: 30px;
    }

    .container_top {
        text-align: left;
        gap: 30px;
    }
}

@media only screen and (max-width: 1300px) {
    .bloco1 {
        display: inline-block;
        text-align: center;
        padding: 15px;
        
    }
    
    .descricao {

        text-align: center;
        margin-left: 0;
        padding: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .titulo {
        margin-left: 0;
    }

    .menu {
        margin-right: 0;
        display: block;
    }

    .lista {
        float: none;
        margin: 0;
        padding: 5px;
        font-size: 16px;
    }

    footer {
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .links_icones {
        margin-left: 0;
    }

    .contato {
        margin-right: 0;
        margin-top: 10px;
        width: auto;
    }
}